header{
    width: 100%;
    height: 65px;
    padding: 0 25px 0 25px;


    display: flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;

    position: fixed;
    top:0;

    font-size: 14px;
}

header div#logo{
    flex:1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

header div#logo-img{

}


header img#logo-link-img{
    width: 125px;
}

nav.menu{
    display:flex;
    transition: 1s;
}

header nav#menu{
    align-items: center;
    justify-content:center;
    width: 650px;
}

header nav#other{
    flex:1;
    display: flex;
    justify-content: flex-end;
}

ul.list{
    list-style:none;
    display: flex;
}

header nav#other{
}

header ul#other-list{
    right: 30px;
}

header div#alt-list{
    display: flex;
}

header li.list-item{
    font-size:1.1em;
}

li.list-item a{
    padding:8px 16px;
}

li.list-item a{
    text-decoration: none;
    color: var(--main-gray);
    border-radius:12px;
}

li.list-item a:hover{
    background-color:var(--hover-gray);
}

/*ESTILIZAÇÃO DO MENU MOBILE*/

nav#mobile{
    z-index: 1;
    font-size: 1rem;
    width:320px;
    height: 100%;
    padding: 20px 20px 200px 20px;
    position:fixed;
    top:0;
    right:-320px;
    background-color:white;
    flex-direction: column;
    overflow-y: scroll;
}

nav#mobile.open{
    animation: openMenu 0.6s cubic-bezier(0.54, 0.15, 0, 0.87) forwards;
}

nav#mobile.close{
    animation: closeMenu 0.6s cubic-bezier(0.54, 0.15, 0, 0.87)  forwards;
}

@keyframes openMenu {
    0%{
        transform:translateX(0);
        opacity: 0%;
    }
    100%{
        transform:translateX(-320px);
        opacity: 100%;
    }
}

@keyframes closeMenu {
    0%{
        transform:translateX(-320px);
        opacity: 100%;
    }
    100%{
        transform:translateX(0);
        opacity: 0;
    }
}

div.bcg-mobile{
    position: absolute;
    top:0;
    left: 0;
    z-index:-1;
    width: 100vw;
    height: 100%;
    background-color:#0000004d;
}

div.bcg-mobile.open{
    animation: openBcg 0.6s ease-out forwards;
}

div.bcg-mobile.close{
    animation: closeBcg 0.6s ease-out forwards;
}

@keyframes openBcg{
    0%{
        z-index:-1;
        opacity: 0%;
    }
    100%{
        z-index:0;
        opacity: 100%;
    }
}

@keyframes closeBcg{
    0%{
        z-index:0;
        opacity: 100%;
    }
    100%{
        z-index:-1;
        opacity: 0;
    }
}

#mobile div.mobile-part{
    width:100%;
}

nav div.mobile-part ul{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
}

#mobile li.list-item{
    padding:5px 0;
}

#mobile li.list-item a{
    display: block;
}

#mobile div#exit{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:flex-end;
}

#mobile div#exit-circle{
    width: auto;
    border-radius:50%;
    padding:8px;
    display: flex;
    align-items:center;
    justify-content: center;
    margin:10px 5px 30px 0;;
}

#mobile div#exit-circle:hover , #mobile div.mobile-lang a:hover{
    background-color:var(--hover-gray);
}

div#exit img{
    width:15px;
}

div.mobile-lang{
    margin-top: 15px;
}

div.mobile-lang a{
    padding:8px 16px;
    border-radius:12px;
    width: 100%;
    display: flex;
    flex-direction: row;
    text-decoration:none;
    color: var(--main-gray);
    font-weight: normal;
}

div.mobile-lang a div#mobile-lang-icon img{
    width: 25px;
}

div.mobile-lang a div#mobile-lang-desc{
    margin-left: 20px;
}

#mobile div.mobile-mob{
    display: none;
}

#mobile-lang-desc h5{
    font-size: 1rem;
    font-weight: 600;
    margin: 5px 0 5px 0;
}

#mobile-lang-desc p{
}

#mobile-lang-desc p:hover{
    text-decoration:underline;
}


/*MEDIA PARA ACIONAMENTO DO HEADER MOBILE*/
@media screen and (max-width:1300px){
    header nav#menu, header div#alt-list{
        display:none;
    }
    header li.list-item a{
        background-color: var(--hover-gray);
    }

    #mobile div.mobile-mob{
        display: flex;
    }
}

@media only screen and (max-width:400px){
    nav#mobile{
        width:80%;
    }   
}

@media only screen and (max-width:300px){
    header img#logo-link-img{
        width: 90px;
    }
}