main#main{
    width:100%;
    padding:100px 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position:fixed;
    top:50px;
    left:0;
}

div#main-model, div#main-desc{
    width: 80%;
}

div#main-model h3{
    font-size: 2.75rem;
    font-weight:normal;
    text-align:center
}

div#main-desc p{
    margin-top: 10px;
    font-size: 1.1rem;
    font-family: 'GothamBookRegular', Helvetica, 'Arial';
    text-align:center;
}

div#main-desc p a{
    color: var(--main-gray);
}

@media only screen and (max-width:350px){
    div#main-model h3{
        font-size: 2.5rem;
    }
    div#main-desc p{
        font-size:0.85rem;
    }
}