/* FONTES */
@font-face {
    font-family: GothamMedium;
    src: url(../fonts/GothamMedium.otf);
}
@font-face{
    font-family: GothamBookRegular;
    src: url(../fonts/GothamBookRegular.otf)
}

:root{
    --main-gray:#393c41;
    --hover-gray:#0000000d;
    --button-gray:#393c41ee;
    --button-light-gray:#ffffffa6;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    height: 100%;
}

body{
    z-index:-2;
    width:100%;
    height:100%;
    font-family: 'GothamMedium', Helvetica, 'Arial';
    font-size:14px;
    color: var(--main-gray);
    overflow-x: hidden;
}

div.bcg-img{
    width:100%;
    height:100%;
    position: absolute;
    top:0;
    left:0;
    background-image: url(../images/bg.jpg) ;
    background-position: center;
    background-size:cover;
}

.blur.onblur{
    animation: activeBlur 0.6s ease-out forwards;
}

.blur.outblur{
    animation: desactiveBlur 0.6s ease-out forwards;
}

@keyframes activeBlur {
    0%{
        filter: blur(0);
    }
    100%{
        filter:blur(4px);
    }
}

@keyframes desactiveBlur {
    0%{
        filter: blur(4px);
    }
    100%{
        filter:blur(0);
    }
}